.content-width {
    width: $content-width;
    max-width: $content-max-width;
    margin: 0 auto;
}

.content {
    padding: 40px 0;
}

body {
    font-family: "Avenir Next";
    font-weight: 400;
    font-style: normal;
    color: $black;
}


h1 {
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: $golden-ratio-2;
    margin-bottom: $golden-ratio-1;
    letter-spacing: -1px;
}

h2 {
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: $golden-ratio-1;
    margin-bottom: $base-font-size;
}

h3,
p,
a {
    font-size: $base-font-size;
}

a {
    cursor: pointer;
    color: $black;

    &:hover {
        text-decoration: underline;
    }
}