// colors
$green-light: rgb(26, 147, 107);
$green-dark: rgba(0, 92, 98);
$black: #102334;
$white: #ffffff;

// width
$content-max-width: 1000px;
$content-width: 90%;

// font size
$ratio: 1.618;
$base-font-size: 18px;
$golden-ratio-1: $base-font-size * $ratio;
$golden-ratio-2: $golden-ratio-1 * $ratio;
$golden-ratio-3: $golden-ratio-2 * $ratio;